@property --main-title {
	syntax: "<length>";
	inherits: true;
	initial-value: 20px;
}
@property --post-title {
	syntax: "<length>";
	inherits: true;
	initial-value: 22px;
}
@property --bg-color {
	syntax: "<color>";
	inherits: true;
	initial-value: #FFFFFF;
}
@property --text-color {
	syntax: "<color>";
	inherits: true;
	initial-value: #1E1E1E;
}
@property --content-width {
	syntax: "<length>";
	inherits: false;
	initial-value: 1120px;
}
@media (767px >= width) {
	:root {
		--main-title: 18px;
		--post-title: 20px;
	}
}
html {
	background-color: var(--bg-color);
	font-family: sans-serif;
	transition: background-color .1s, color .1s;
	&:has(.dark) {
		--bg-color: #2C2C2C;
		--text-color: #FFFFFF;
	}
}
body {
	margin: 0;
	line-height: 1.5;
}

*, *::before, *::after {
	box-sizing: border-box;
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4 {
	margin: 0;
	color: var(--text-color);
}
p, a {
	color: var(--text-color);
	text-decoration: none;
}

.container {
	width: var(--content-width);
	max-width: 100%;
	margin-inline: auto;
}