---
//import Social from "./Social.astro"
import TagList from "./TagList.astro";
---
<div class="footer-wrap">
	<footer class="container">
		<TagList />
	</footer>
</div>

<style>
	.footer-wrap {
	/*background-color: #1E1E1E;*/
}
</style>