---
import Navigation from "./Navigation.astro"
import ThemeIcon from "../svelte/components/ThemeIcon.svelte"
---
<header class="header">
	<nav>
		<Navigation />
	</nav>
	<ThemeIcon client:only="svelte" />
</header>
<style>
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
</style>
