---
import Navigation from "./Navigation.astro"
import ThemeIcon from "../svelte/components/ThemeIcon.svelte"
---
<header class="header">
	<h1 class="title"><a href="/">備忘録</a></h1>
	<nav>
		<!--<Navigation />-->
	</nav>
	<ThemeIcon client:only="svelte" />
</header>
<style>
	.title {
		font-size: var(--main-title);
	}
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 10px 0;
	}
</style>
