---
import Navigation from "./Navigation.astro"
import ThemeIcon from "../svelte/components/ThemeIcon.svelte"
---
<header>
	<nav>
		<ThemeIcon client:only="svelte" />
		<Navigation />
	</nav>
</header>
