---
import Navigation from "./Navigation.astro"
import ThemeIcon from "../svelte/components/ThemeIcon.svelte"
import PostSearch from "./PostSeach.astro";
---
<header class="header">
	<a href="/" class="title">備忘録</a>
	<nav>
		<!--<Navigation />-->
	</nav>
	<ThemeIcon client:only="svelte" />
</header>
<PostSearch />
<style>
	.title {
		font-weight: bold;
		font-size: var(--main-title);
	}
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 10px 0;
	}
</style>
