<nav class="nav">
	<ul class="nav-list">
		<li>
			<a href="/">ホーム</a>
		</li>
		<li>
			<a href="/tags/">タグ</a>
		</li>
	</ul>
</nav>

<style>
	.nav-list {
		display: flex;
		a {
			display: block;
			font-size: 18px;
			font-weight: bold;
			padding: 15px 20px;
		}
	}
</style>
