---
import Search from "astro-pagefind/components/Search";
export const prerender = false;
const q = Astro.url.searchParams.get("q") ?? undefined;
---
<div class="container">
<Search id="search" query={q} className="search-box" />
</div>

<style>
	:root {
		--pagefind-ui-primary: var(--text-color);
		--pagefind-ui-text: var(--text-color);
		--pagefind-ui-background: var(--bg-color);
		--pagefind-ui-border: #eeeeee;
		--pagefind-ui-tag: #eeeeee;
	}

</style>