---
const { tag } = Astro.props;
---

<li class="tag">
	<a class="tag-link" href={`/tags/${tag}`}>{tag}</a>
</li>

<style>
	.tag {
		border: dotted 1px #a1a1a1;
		border-radius: 10px;
		font-size: 1.15em;
	}
	.tag-link {
		display: block;
		padding: 5px 15px;
		font-size: 14px;
	}
</style>